.header {
  // Hamburger Open Styles

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
    z-index: 6;
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 6.4375rem;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-color: #0b0a5dde;
    z-index: 8;
  }

  nav {
    padding: 1.5rem 1.6875rem;

    @include breakpoint-up(large) {
      padding-left: 22.0625rem;
      padding-right: 16.1875rem;
    }
  }

  &__logo {
    height: 3.4375rem; // 55px

    @include breakpoint-up(large) {
      height: 4.25rem; // 68px
    }

    img {
      height: 100%;
    }
  }

  &__toggle {
    // Mobile Toggle

    > span {
      display: block;
      width: 35px;
      height: 2px;
      background-color: $veryDarkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $veryDarkBlue;
      font-weight: 600;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2.25rem;
      }
    }

    a:hover {
      color: $orange;
    }
  }

  &__cta {
    // Call To Action
    padding: 0.75rem 1.375rem;
  }

  &__menu {
    position: absolute;
    top: 11.313rem;
    height: 29.125rem;
    width: 100%;

    // margin-top: 8.3125rem;
    // margin-right: 6.563rem;
    // margin-bottom: 5.5625rem;
    // margin-left: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    .linkIcon {
      color: white;
      font-size: $font-med;
      font-weight: 600;

      &:hover {
        color: $orange;
      }

      &:not(:last-child) {
        margin-bottom: 2.6875rem;
      }
    }

    & .button {
      margin-bottom: 6.25rem;
    }

    .socials {
      display: flex;

      a {
        height: 1.5625rem;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        svg,
        img {
          height: 1.5625rem;
          fill: $white;
        }

        .moreHeight {
          height: 1.875rem;
        }
      }
    }
  }
}
