.mySkills {
  min-height: 110vh;
  max-height: 130vh;
  background: #f1f4fb;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint-up(medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__titleText {
    .descTitle {
      font-size: 1rem;
      margin: 0px;
      padding-top: 4.375rem; // 70px
      margin-bottom: 1.375rem; // 22px

      @include breakpoint-up(large) {
        padding-top: 6.75rem; // 108px
      }
    }

    .sectTitle {
      font-size: 2.375rem; // 38px
      margin: 0px;
      margin-bottom: 3.125rem; // 50px

      @include breakpoint-up(large) {
        margin-bottom: 3.75rem; // 60px
      }
    }
  }

  &__skillBoxes {
    @include breakpoint-up(large) {
      padding-left: 13.75rem; // 220px
      padding-right: 13.75rem;
      display: flex;
      justify-content: space-between;
    }

    &__firstColumn {
      @include breakpoint-up(large) {
        width: 42%;
      }
    }

    &__secondColumn {
      @include breakpoint-up(large) {
        width: 42%;
      }
    }

    .box {
      width: 100%;
      margin-bottom: 3.125rem; // 50px

      @include breakpoint-up(medium) {
        margin-bottom: 5rem; // 80px
      }

      .boxText {
        margin-bottom: 1.25rem; // 20px
        font-size: 0.9375rem; // 15px

        @include breakpoint-up(large) {
          font-size: $font-med;
        }
        p {
          margin: 0px;
          color: $veryDarkBlue;
          font-weight: 600;
        }
      }

      .levelLine {
        height: 0.6875rem; // 11px
        width: 100%;
        background: $orange;
        position: relative;

        &::after {
          content: "";
          height: 0.6875rem; // 11px
          width: 10%;
          background: $lightGrey;
          position: absolute;
          right: 0px;
          top: 0px;
          bottom: 0px;
        }
      }
    }
  }
}
