// Colors
$orange: #ff9442;
$veryDarkBlue: #0c0a5d;
$veryLightGrey: #f4f5f7;
$lightGrey: #d9d9d9;
$darkGrey: #6b6b6b;
$white: #ffffff;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
